<a href="https://colab.research.google.com/github/pks98/Project/blob/main/duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [14]:
df=pd.read_csv('co2_emissions (1).csv',sep=';')
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,ACURA,ILX,COMPACT,2.0,4,AS,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS,Z,12.1,8.7,10.6,27,244

In [15]:
df.shape

(7385, 12)

In [3]:
df['make']=df['make'].apply(lambda x:x.lower())

In [4]:
cat_col=[]
for i in df.columns:
  if df[i].dtype == 'object':
    cat_col.append(i)

In [5]:
cat_col

['make', 'model', 'vehicle_class', 'transmission', 'fuel_type']

In [6]:
for i in cat_col:
  df[i]=df[i].apply(lambda x:x.lower())

In [7]:
df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
0,acura,ilx,compact,2.0,4,as,z,9.9,6.7,8.5,33,196
1,acura,ilx,compact,2.4,4,m,z,11.2,7.7,9.6,29,221
2,acura,ilx hybrid,compact,1.5,4,av,z,6.0,5.8,5.9,48,136
3,acura,mdx 4wd,suv - small,3.5,6,as,z,12.7,9.1,11.1,25,255
4,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244

In [8]:
df[df.duplicated()]

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_city,fuel_consumption_hwy,fuel_consumption_comb(l/100km),fuel_consumption_comb(mpg),co2_emissions
1075,acura,rdx awd,suv - small,3.5,6,as,z,12.1,8.7,10.6,27,244
1076,acura,rlx,mid-size,3.5,6,as,z,11.9,7.7,10.0,28,230
1081,alfa romeo,4c,two-seater,1.8,4,am,z,9.7,6.9,8.4,34,193
1082,aston martin,db9,minicompact,5.9,12,a,z,18.0,12.6,15.6,18,359
1084,aston martin,v8 vantage,two-seater,4.7,8,am,z,17.4,11.3,14.7,19,338
...,...,...,...,...,...,...,...,...,...,...,...,...
7356,toyota,tundra,pickup truck - standard,5.7,8,as,x,17.7,13.6,15.9,18,371
7365,volkswagen,golf gti,compact,2.0,4,m,x,9.8,7.3,8.7,32,203
7366,volkswagen,jetta,compact,1.4,4,as,x,7.8,5.9,7.0,40,162
7367,volkswagen,jetta,compact,1.4,4,m,x,7.9,5.9,7.0,40,163
7368,volkswagen,jetta gli,compact,2.0,4,am,x,9.3,7.2,8.4,34,196

In [9]:
df.duplicated().sum()

1404

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.shape

(5981, 12)

In [12]:
df.duplicated().sum()

0